body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #cbe4ff;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

h1 {
    text-align: center;
    color: #333;
}

.form {
    max-width: 700px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    background-color: rgb(173, 204, 251);
    padding: 60px;
    margin-left : 120px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
    position: absolute;
    left: 50px; /* Adjust this value to change the x position */
}

label {
    display: block;
    margin-bottom: 10px;
    font-size :23px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

select,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    
}

button {
    background-color: #6687f6;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #584df2;
}

#output {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.image-container {
    position: relative; /* Change from absolute to relative */
    margin-left: 580px; /* Adjust this value to change the x position of the image container */
    margin-top: 0px; /* Adjust this value to change the y position of the image container */
    margin-right: 10px; /* Adjust this value if needed */
}

.image-container img {
    max-width: 80%; /* Ensure the image fits within the container */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin:250px
}